[submodule "vdeps/nvrhi"]
	path = vdeps/nvrhi
	url = https://github.com/hypernewbie/NVRHI.git
	ignore = dirty
	branch = yolo
[submodule "vdeps/vk-bootstrap"]
	path = vdeps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
	ignore = dirty
[submodule "vdeps/OffsetAllocator"]
	path = vdeps/OffsetAllocator
	url = https://github.com/sebbbi/OffsetAllocator
[submodule "vdeps/RGFW"]
	path = vdeps/RGFW
	url = https://github.com/hypernewbie/RGFW
[submodule "vdeps/SPIRV-Headers"]
	path = vdeps/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vdeps/SPIRV-Tools"]
	path = vdeps/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
