[submodule "vdeps/nvrhi"]
	path = vdeps/nvrhi
	url = https://github.com/NVIDIA-RTX/NVRHI.git
	ignore = dirty
[submodule "vdeps/vk-bootstrap"]
	path = vdeps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
	ignore = dirty
[submodule "vdeps/OffsetAllocator"]
	path = vdeps/OffsetAllocator
	url = https://github.com/sebbbi/OffsetAllocator
[submodule "vdeps/RGFW"]
	path = vdeps/RGFW
	url = https://github.com/hypernewbie/RGFW
